@use '@/shared/scss/mixins.module';
@use '@/shared/scss/variables.module';

.contact {
	width: 637px;
	height: 502px;
	background: url('/images/block_clamp.png') center/cover no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 209px;
	padding-bottom: 103px;
}

.clamp {
	width: 261px;
	height: 190px;
	position: relative;
}

.top {
	&__provod {
		position: absolute;
		top: 24%;
		left: 6%;
		z-index: 1;
	}

	&__provodTop {
		position: absolute;
		top: 20%;
		left: 13%;
	}

	&__provodRight {
		position: absolute;
		top: 11.5%;
		left: 21%;
	}

	&__screw {
		z-index: 1;
		margin-top: 6%;
		left: 35.5%;
	}

	&__connect {
		rotate: 180deg;
		right: 27.75%;
		margin-top: -10%;
	}

	&__topA {
		position: absolute;
		left: 75%;
		top: 11.5%;
	}

	&__topB {
		position: absolute;
		left: 75%;
		top: 16.5%;
	}
}

.center {
	&__provod {
		position: absolute;
		top: 31%;
		left: 15%;
	}

	&__screw {
		position: absolute;
		margin-top: 20.75%;
		left: 35.5%;
		z-index: 1;
	}

	&__topB {
		position: absolute;
		left: 75%;
		top: 55%;
	}

	&__topA {
		position: absolute;
		top: 50%;
		left: 75%;
	}
}

.bottom {
	&__provod {
		position: absolute;
		top: 62%;
		left: 6%;
		z-index: 1;
	}

	&__provodTop {
		position: absolute;
		top: 68%;
		left: 13%;
	}

	&__provodRight {
		position: absolute;
		top: 76%;
		left: 21%;
	}

	&__screw {
		position: absolute;
		margin-top: -7.75%;
		left: 35.5%;
		z-index: 1;
	}

	&__connect {
		position: absolute;
		rotate: 180deg;
		left: -27.75%;
		margin-top: 18%;
	}

	&__topB {
		position: absolute;
		left: 75%;
		top: 76%;
	}

	&__topA {
		position: absolute;
		top: 71.5%;
		left: 75%;
	}
}
