@use '@/shared/scss/mixins.module';
@use '@/shared/scss/variables.module';

.popup {
}

.contact {
	width: 674px;
	height: 533px;
	background: url(../../../public/images/block_clamp.png) center/cover
		no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 209px;
	padding-bottom: 103px;
}

.clamp {
	width: 261px;
	height: 190px;
	position: relative;
}

.topLeft {
	&__provod {
		position: absolute;
		top: 26%;
		left: 4%;
		z-index: 1;
	}

	&__provodTop {
		position: absolute;
		top: 22%;
		left: 16%;
	}

	&__provodRight {
		position: absolute;
		top: 7%;
		left: 24%;
	}

	&__screw {
		z-index: 1;
		margin-top: 3%;
		left: 37%;
	}
}

.centerLeft {
	&__provod {
		position: absolute;
		top: 30%;
		left: 14%;
	}

	&__screw {
		position: absolute;
		margin-top: 22%;
		left: 37%;
		z-index: 1;
	}
}

.bottom {
	&__provod {
		position: absolute;
		top: 60%;
		left: 6%;
		z-index: 1;
	}

	&__provodTop {
		position: absolute;
		top: 68%;
		left: 17%;
	}

	&__provodRight {
		position: absolute;
		top: 71%;
		left: 21%;
	}

	&__screw {
		position: absolute;
		margin-top: 19%;
		left: 37%;
		z-index: 1;
	}
}

.screw__top {
	position: absolute;
}

.provod__top {
	position: absolute;
	top: 7%;
	left: 79%;
}

.screw {
	position: absolute;
	top: 10%;
	left: 37%;
}
