.tooltip {
	display: inline-flex;
	position: relative;
	padding-left: 8px;
	margin-right: 11px;

	@media (max-width: 767px) {
		padding-left: 5px;
	}

	&__content {
		position: absolute;
		top: 0;
		left: 31px;
		display: flex;
		align-items: center;
		border-top: 2px solid var(--lan-bright-cyan---lime-green);
		border-radius: 4px;
		padding: 16px 8px;
		width: 333px;
		height: 52px;
		backdrop-filter: blur(4px);
		box-shadow:
			0 4px 4px 0 rgba(10, 10, 20, 0.25),
			0 4px 4px 0 rgba(10, 10, 20, 0.25);
		background: var(--lan-light-grayish-blue);
		z-index: 1000;
		visibility: hidden;

		@media (max-width: 767px) {
			align-items: flex-start;
			width: 140px;
			height: 69px;
			padding: 0;
		}

		&[style*='right'] {
			top: 50%;
			left: 100%;
			right: auto;
			margin-left: 10px;
			transform: translateY(-50%);
		}

		&[style*='bottom'] {
			top: 100%;
			left: auto;
			right: 0;
			bottom: auto;
			margin-top: 10px;
			margin-left: 0;

			@media (max-width: 576px) {
				left: -300%;
				right: auto;
			}
		}

		&_visible {
			visibility: visible;
		}

		&_svg {
			margin-right: 11px;
			margin-bottom: 2px;
			flex-shrink: 0;

			@media (max-width: 767px) {
				margin-right: 8px;
				margin-left: 8px;
				margin-top: 12px;
			}
		}

		&_description {
			font-family: var(--second-family);
			font-weight: 400;
			font-size: 14px;
			color: var(--lan-very-dark-mostly-black-blue);
			line-height: 1.4;
			margin: 0;

			@media (max-width: 767px) {
				font-size: 12px;
				line-height: 14px;
				padding-top: 12px;
				padding-right: 8px;
			}
		}
	}
}
