@use '@/shared/scss/variables.module';
@use '@/shared/scss/mixins.module';

.container {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 11px;
}

.button__top {
	display: grid;
	grid-area: 1 / 1 / 2 / 2;
	align-items: center;
	padding-left: 22%;
	padding-top: 3%;

	span {
		@include mixins.text(16px, 400);
	}
}

.buttons {
	display: grid;
	grid-area: 2 / 1 / 3 / 2;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 12px;
	grid-row-gap: 0px;
	max-width: 150px;
	padding-left: 10%;
}

.block {
	display: grid;
	grid-area: 3 / 1 / 4 / 2;
	padding-left: 8%;
}

.list {
	display: grid;
	list-style: none;
	gap: 9px;
	max-width: 278px;
	padding: 8px 8px 8px 19px;
	border: 1px solid variables.$B8-color;

	&__title {
		margin-bottom: 10px;

		@include mixins.text(20px, 500);
	}

	&__item {
		display: flex;
		align-items: center;
	}

	&__icons {
		display: inline-block;
		width: 25px;
		height: 25px;
		border-radius: 100%;
		border: 1px solid variables.$B8-color;
		background-color: variables.$electric-green-color;
		margin-right: 10px;
	}
}

.window {
	display: flex;
	flex-direction: column;
	grid-area: 1 / 2 / 4 / 3;

	&__top {
		display: flex;
		padding-top: 20%;
		padding-left: 21%;
	}

	&__gate {
		display: flex;
		padding-left: 73.5%;
		padding-top: 14%;
	}

	&__bottom {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: flex-start;
		padding-top: 11%;
		padding-left: 21%;
	}

	&__text {
		display: flex;
		text-align: center;
		margin-top: auto;
		padding-bottom: 15px;
		margin-left: auto;
		padding-right: 8px;
		width: 62px;
	}
}
