.title {
	width: 632px;
	display: flex;
	flex-direction: column;
	font-family: var(--second-family);
	font-weight: 800;
	font-size: 80px;
	line-height: 100%;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: var(--lan-light-grayish-blue);

	@media (max-width: 768px) {
		width: 454px;
		font-weight: 900;
		font-size: 58px;
	}

	@media (max-width: 576px) {
		width: 359px;
		font-weight: 900;
		font-size: 45px;
	}
}

.lineLeft {
	@media (max-width: 768px) {
		display: block;
		margin-bottom: 4px;
	}

	@media (max-width: 576px) {
		margin-bottom: 0;
	}
}

.lineCenter {
	@media (max-width: 768px) {
		display: block;
		margin-bottom: 4px;
	}

	@media (max-width: 576px) {
		margin-bottom: 0;
	}
}

.lineRight {
	display: flex;
	justify-content: flex-end;
}
