.title {
	width: 687px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: var(--second-family);
	font-weight: 800;
	font-size: 80px;
	line-height: 100%;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: var(--lan-light-grayish-blue);
}

.lineRight {
	margin-left: auto;
}
