.load {
	height: 100%;
	width: 100%;
	background-color: inherit;
	z-index: 2000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.image {
	width: 121px;
	height: 130px;
	margin: 0 auto;
	left: 50%;
	animation: 1s linear infinite rotate;
	transform-origin: 60px 69px;
	z-index: 3;

	@media screen and (max-width: 900px) {
		width: 81px;
		height: 85px;
		transform-origin: 40px 45px;
	}
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}
