@use '@/shared/scss/variables.module';
@use '@/shared/scss/mixins.module';
    
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    border-top: 1px solid variables.$white-color;
    border-left: 1px solid variables.$white-color;
    border-right: 1px solid variables.$white-color;
    height: 42px;
    background: linear-gradient(90deg, #8a8a8a 0%, #ffffff 100%);
    cursor: grab;

    &__title {
        @include mixins.text(14px, 700);
        color: variables.$white-color;
    }
}