@use '@/shared/scss/mixins.module';
@use '@/shared/scss/variables.module';

.section {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin: 12px auto;

	&__title {
		font-weight: 400;
		font-size: 32px;
		align-self: flex-start;
	}

	&__content {
		position: relative;
		width: 1377px;
		height: 720px;
		padding: 21px 52px 20px 180px;
		box-sizing: content-box;
		background-image: url('../../../public/svg/boiler-unit.svg');
		background-origin: content-box;
		background-repeat: no-repeat;
		overflow: hidden;
	}
}
