.element {
	position: absolute;
	background: transparent;
	cursor: pointer;

	&_hover:hover {
		opacity: 0.5;
	}

	&__highResistance {
		outline: 2px solid blue;
	}

	&__baseResistance {
		outline: 2px solid red;
	}
}

.c\.3\.1\.3\.2\.1\.1 {
	top: 210px;
	left: 645px;
	width: 73px;
	height: 33px;
}

.c\.3\.2\.3\.2\.1\.1 {
	top: 475px;
	left: 637px;
	width: 73px;
	height: 33px;
}

.c\.3\.1\.3\.1 {
	top: 136px;
	left: 746px;
	width: 73px;
	height: 47px;
}

.c\.3\.2\.3\.1 {
	top: 397px;
	left: 764px;
	width: 73px;
	height: 47px;
}

.c\.3\.1\.3\.2\.3 {
	top: 205px;
	left: 899px;
	width: 24px;
	height: 43px;
}

.c\.3\.2\.3\.2\.3 {
	top: 470px;
	left: 900px;
	width: 24px;
	height: 43px;
}

.c\.3\.2\.3\.3 {
	top: 607px;
	left: 704px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.c\.3\.1\.3\.3 {
	top: 320px;
	left: 704px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.p\.2\.6 {
	top: 575px;
	left: 95px;
	width: 95px;
	height: 90px;
}

.c\.1 {
	top: 205px;
	left: 235px;
	width: 37px;
	height: 35px;
}

.c\.3\.2\.3\.2\.2 {
	top: 475px;
	left: 807px;
	width: 44px;
	height: 38px;
}

.c\.3\.1\.3\.2\.2 {
	top: 210px;
	left: 810px;
	width: 44px;
	height: 38px;
}

.p\.3\.1 {
	top: 340px;
	left: 70px;
	width: 248px;
	height: 71px;
}

.p\.1 {
	top: 130px;
	left: 70px;
	width: 131px;
	height: 85px;
}

.c\.3\.2\.3\.2\.1\.2 {
	top: 550px;
	left: 695px;
	width: 44px;
	height: 37px;
}

.c\.3\.1\.3\.2\.1\.2 {
	top: 265px;
	left: 650px;
	width: 44px;
	height: 37px;
}

.c\.3\.1\.1 {
	top: 205px;
	left: 475px;
	width: 48px;
	height: 45px;
}

.c\.3\.2\.1 {
	top: 468px;
	left: 480px;
	width: 48px;
	height: 45px;
}
