.element {
	position: absolute;
	background: transparent;
	cursor: pointer;

	&_hover:hover {
		opacity: 0.5;
	}

	&__highResistance {
		outline: 2px solid blue;
	}

	&__baseResistance {
		outline: 2px solid red;
	}
}

// ========================
// Силовая цепь (p.*)
// ========================

// Вводные автоматы
.p\.1\.2 {
	top: 28px;
	left: 100px;
	width: 35px;
	height: 35px;
}

.p\.2\.2 {
	top: 28px;
	left: 140px;
	width: 35px;
	height: 35px;
}

.p\.3\.2 {
	top: 28px;
	left: 180px;
	width: 35px;
	height: 35px;
}

// Зажимы
.p\.1\.4\.1\.1 {
	top: 165px;
	left: 85px;
	width: 50px;
	height: 65px;
}

.p\.2\.4\.1 {
	top: 165px;
	left: 135px;
	width: 50px;
	height: 50px;
}

.p\.2\.4\.2 {
	top: 380px;
	left: 135px;
	width: 50px;
	height: 50px;
}

.p\.3\.4\.1 {
	top: 165px;
	left: 185px;
	width: 50px;
	height: 65px;
}

// Двигатель
.p\.1\.4\.1\.2 {
	top: 570px;
	left: 80px;
	width: 122px;
	height: 108px;
}

// Пускатель
.p\.3\.1 {
	top: 350px;
	left: 60px;
	width: 255px;
	height: 77px;
}

.p\.2\.6 {
	top: 575px;
	left: 95px;
	width: 95px;
	height: 90px;
}

.p\.2 {
	top: 130px;
	left: 70px;
	width: 131px;
	height: 85px;
}

// ========================
// Цепь управления (c.*)
// ========================

// Автомат питания
.c\.1 {
	top: 205px;
	left: 235px;
	width: 37px;
	height: 35px;
}

// Концевые выключатели
.c\.3\.0\.1 {
	top: 205px;
	left: 475px;
	width: 48px;
	height: 45px;
}

.c\.3\.1\.1 {
	top: 468px;
	left: 480px;
	width: 48px;
	height: 45px;
}

// Ветка ОТКРЫТЬ (c.3.0.4.*)

// NDI сигнал "не открыто"
.c\.3\.0\.4\.0\.1 {
	top: 136px;
	left: 746px;
	width: 73px;
	height: 47px;
}

// Команда открыть с ПТК
.c\.3\.0\.4\.1\.0\.0\.1 {
	top: 210px;
	left: 645px;
	width: 73px;
	height: 33px;
}

// Блокировка открыть
.c\.3\.0\.4\.1\.1\.1 {
	top: 210px;
	left: 810px;
	width: 44px;
	height: 38px;
}

// Катушка открыть
.c\.3\.0\.4\.1\.1\.4 {
	top: 205px;
	left: 899px;
	width: 24px;
	height: 43px;
}

// Кнопка КРУЗА-П открыть
.c\.3\.0\.4\.1\.2\.1 {
	top: 265px;
	left: 650px;
	width: 44px;
	height: 37px;
}

// Лампа "закрыто"
.c\.3\.0\.4\.2\.1 {
	top: 320px;
	left: 704px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

// Ветка ЗАКРЫТЬ (c.3.1.4.*)

// NDI сигнал "не закрыто"
.c\.3\.1\.4\.0\.1 {
	top: 397px;
	left: 764px;
	width: 73px;
	height: 47px;
}

// Команда закрыть с ПТК
.c\.3\.1\.4\.1\.0\.0\.1 {
	top: 475px;
	left: 637px;
	width: 73px;
	height: 33px;
}

// Блокировка закрыть
.c\.3\.1\.4\.1\.1\.1 {
	top: 475px;
	left: 807px;
	width: 44px;
	height: 38px;
}

// Катушка закрыть
.c\.3\.1\.4\.1\.1\.4 {
	top: 470px;
	left: 900px;
	width: 24px;
	height: 43px;
}

// Кнопка КРУЗА-П закрыть
.c\.3\.1\.4\.1\.2\.1 {
	top: 550px;
	left: 695px;
	width: 44px;
	height: 37px;
}

// Лампа "открыто"
.c\.3\.1\.4\.2\.1 {
	top: 607px;
	left: 704px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
