@use '@/shared/scss/mixins.module';
@use '@/shared/scss/variables.module';


.environmentWrapper { /* Этот класс должен быть на div с ref={environmentRef} */
  position: relative; /* ОБЯЗАТЕЛЬНО */
  width: 100%;
  min-width: 1700px;
  min-height: 700px;
  margin: 20px auto;
  overflow: hidden;
  box-sizing: border-box; 
}

.schemePlacement {
  position: absolute;
  top: 20px;
  left: 20px; 
}

.multimeterPlacement {
   position: absolute;
   top: 20px; 
   right: 0px; 
   z-index: 1;
 }

.measurements {
	height: 700px;
	width: 310px;
	background: variables.$secondary-color;
	display: flex;
	flex-direction: column;
	/* По умолчанию для одного элемента */
	justify-content: flex-end;
  align-items: flex-end;
  margin-left: auto;
	box-shadow: variables.$default-button-box-shadow;
	padding: 14px;

	&:has(> :nth-child(2)) {
		/* Когда больше одного элемента */
		justify-content: space-between;
	}
}

