.hero {
	margin-top: -88px;
	display: flex;
	justify-content: center;
	align-items: center;

	&__container {
		display: flex;
		flex-direction: column;
		width: 100%;
		min-height: 800px;
		background: url(/assets/images/hero.png) no-repeat center / cover;
		color: var(--lan-light-grayish-blue);
		z-index: 10;

		@media (max-width: 1024px) {
			min-height: 768px;
		}

		@media (max-width: 768px) {
			min-height: 1024px;
			justify-content: center;
			align-items: center;
		}

		@media (max-width: 393px) {
			min-height: 852px;
		}
	}

	&__title {
		padding-top: 169px;
		margin-bottom: 87px;

		@media (max-width: 1024px) {
			padding-top: 161px;
			margin-bottom: 97px;
		}

		@media (max-width: 768px) {
			margin-bottom: 85px;
			padding: 0;
		}
	}

	&__content {
		display: flex;
		justify-content: flex-end;
	}
}
