@use '@/shared/scss/mixins.module';
@use '@/shared/scss/variables.module';

.popup {
	width: 374px;
	background: variables.$primary-color;

	&__wrapper {
		position: relative;
		display: flex;
		gap: 24px;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		padding: 8px 18px;
	}

	&__btn span {
		@include mixins.text(20px, 400);
	}
}
