@use '@/shared/scss/mixins.module';
@use '@/shared/scss/variables.module';

.popup {
	width: 362px;
	background: variables.$primary-color;

	&__wrapper {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		padding: 6px 18px;
	}

	&__btn {
		&__first {
			margin: 0 0 24px;
		}
		& span {
			@include mixins.text(20px, 400);
		}
	}
}
