@use '@/shared/scss/variables.module';

.popup {
    width: 343px;
    height: 318px;
    background: variables.$primary-color;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.gate {
    font-size: 20px;
    font-weight: 500;
}
