@use '@/shared/scss/variables.module';

.tumbler {
	width: 52px;
	height: 24px;
	position: relative;
	background: linear-gradient(
		180deg,
		#121212 35.42%,
		#282828 60.45%,
		#000000 81.92%,
		#626262 99.93%
	);
	cursor: pointer;

	&_active {
		background: linear-gradient(
			180deg,
			#121212 35.42%,
			#282828 60.45%,
			#000000 81.92%,
			#626262 99.93%
		);
	}

	&__handle {
		position: absolute;
		width: 62px;
		height: 12px;
		background: linear-gradient(
			180deg,
			#5c5c5c 48.45%,
			#3f3f3f 56.29%,
			#212121 100%
		);
		left: -5px;
		transform: translateY(-12px);
		cursor: grab;
		transition: transform 0.3s cubic-bezier(0.08, 0.82, 0.17, 1);
		z-index: 2;
		box-shadow: 0px 5px 2px 0px rgba(10, 16, 21, 0.2);

		&:active {
			cursor: grabbing;
			background: #434343;
		}

		&_off {
			background: linear-gradient(
				180deg,
				#212121 0%,
				#171717 43.71%,
				#5c5c5c 51.55%
			);
			transform: translateY(24px);
		}
	}
}

.box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: variables.$primary-color;
	box-shadow: variables.$pop-up-box-shadow;
	width: 88px;
	height: 156px;
	padding: 8px;

	&__title {
		padding: 4px;
		width: 100%;
		height: 27px;
		background-color: variables.$primary-color;
		box-shadow: 6px 6px 3px -5px variables.$gray-disabled-color inset;
		border-top: 1px solid variables.$black-color;
		border-left: 1px solid variables.$black-color;
		border-right: 1px solid variables.$gray-disabled-color;
		border-bottom: 1px solid variables.$white-color;

		&_text {
			font-weight: 700;
			font-size: 12px;
			text-align: center;

			&_off {
				color: variables.$gray-disabled-color;
			}
		}
	}
}
