*,
*::before,
*::after {
	box-sizing: border-box;
}

ul,
ol {
	padding: 0; /* убираем внутренние отступы списка */
}

/* Убираем внешние отступы у основных элементов */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dL,
dd {
	margin: 0;
}

:root {
	/* шрифты */
	--font-family: 'Roboto', sans-serif;
	--second-family: 'Inter', sans-serif;
	--third-family: 'Ubuntu', sans-serif;
	--font3: 'Arial', sans-serif;
	--font4: 'Poppins', sans-serif;
	--font5: 'Teko', sans-serif;

	--basic-red: #8f1313;
	--basic-error: #ed3932;
	--basic-yellow: #fffe05;
	--basic-magenta: #e00671;
	--basic-cyan: #69fffa;
	--basic-nephritis: #0bb4b4;
	--basic-lightblue: #bec0fc;
	--basic-blue: #110f93;
	--basic-electric-green: #0bf40e;
	--basic-green-succsess: #0ab700;
	--basic-orange-attention: #ff7e22;
	--basic-black: #000;
	--basic-b8: #1f1f1f;
	--basic-gray-disabled: #8a8a8a;
	--basic-active-gray: #a4a4a4;
	--basic-bg: #c0c0c0;
	--basic-light-grey: #d9d9d9;
	--basic-white: #fff;
	--new-color-bg-new: #e6e9ec;
	--new-color-mid-gray-blue: #ced2d7;
	--new-color-darck-blue: #17191c;
	--new-color-light-cyan: #edf4f5;
	--new-color-low-dark-blue-gray: #7e8a9a;
	--new-color-new-green: #4ea646;
	--lan-bright-cyan---lime-green: #42e465;
	--lan-light-grayish-blue: #f9fafb;
	--lan-moderate-cyan: #3fa8c2;
	--lan-light-grayish-cyan: #dddede;
	--lan-very-dark-mostly-black-blue: #0a0a14;
	--lan-very-dark-mostly-black-blue-2: #1a1a24;
	--lan-gray: #bfbfbf;
	--lan-very-dark-gray: #333;
	--lan-background-element: rgba(63, 168, 194, 0.72);
}

body {
	min-height: 100vh;
	scroll-behavior: smooth;

	/* оптимизация рендеринга шрифтов */
	text-rendering: optimizeSpeed;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
}

/* ==========================
   5. Сброс списка, ссылок и изображений
   ========================== */
ul[class],
ol[class] {
	list-style: none;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

img {
	max-width: 100%;
	display: block;
}

/* ==========================
   6. Периодичность контента
   ========================== */
article > * + * {
	margin-top: 1em;
}

/* ==========================
   7. Наследование шрифтов у форм
   ========================== */
input,
button,
textarea,
select {
	font: inherit;
}

/* ==========================
   8. Уменьшение анимаций для пользователей с `prefers-reduced-motion`
   ========================== */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

body.modal-open {
	overflow: hidden;
	padding-right: 15px;
}

.landing {
	background-color: #0a0a14;
}

.container {
	max-width: 1280px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 0 124px;
}

a,
button {
	all: unset;
	cursor: pointer;
}
