@use '@/shared/scss/variables.module';

.window {
	background: url('/images/gate-window.png') center/98.5% no-repeat,
		url('/images/gate-stroke.png') center/cover no-repeat;
	width: 206px;
	height: 101px;
	display: flex;
	gap: 8px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 50px 56px 0;

	&__measurement {
		margin-left: 42px;
	}
}
