@use '@/shared/scss/mixins.module';
@use '@/shared/scss/variables.module';

.recoveryForm {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;

  &__button {
    span {
      @include mixins.text(32px, 400);
      line-height: 1;
    }
  }
}