.dialContainer {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%; 
  cursor: grab;

  &:active {
    cursor: grabbing; 
  }
}

.knob {
  position: absolute;
  top: 3px;
  left: -6px;
  width: 110%; 
  height: 110%;
  border-radius: 50%;
  background-color: #1e1e1e; 
  background-image: radial-gradient(circle at 50% 45%, #404040, #1e1e1e 75%); // Скорректированный градиент
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5),
              inset 0 1px 2px rgba(255, 255, 255, 0.15), 
              inset 0 -1px 2px rgba(0, 0, 0, 0.4);  
  border: 1px solid #383838; 

  display: flex; 
  align-items: center;
  justify-content: center;


}
.indicator {
  width: 4px; 
  height: 45%; 
  background-color: #5251b1; 
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2px; 
  box-shadow: 0 0 4px rgba(115, 91, 219, 0.8); 
  border: 1px solid rgba(0, 0, 0, 0.15); 
}