@use '@/shared/scss/variables.module';
@use '@/shared/scss/mixins.module';

.response {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px;
	min-height: 300px;

	&__message {
		@include mixins.text(24px, 400);
		color: variables.$success-color;
		font-weight: 600;
		text-align: center;
	}
	&__list {
		display: flex;
		flex-grow: 1;
		flex-direction: column;
		gap: 30px;
		padding-left: 45px;
		justify-content: space-evenly;
        
	}
	&__item {
		@include mixins.text(20px, 400);
		font-weight: 400;
	}
	&__warning {
		@include mixins.text(18px, 400);
		color: variables.$red-color;
	}
}
