@use '@/shared/scss/mixins.module';
@use '@/shared/scss/variables.module';

.popupDiagnostic {
	display: flex;
	flex-direction: column;
	padding-top: 8px;

	&_center {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 5px 75px;
		margin-bottom: 8px;

		&_item {
			display: flex;
			align-items: center;
			padding-left: 6px;
			@include mixins.text(18px, 400);
			cursor: default;

			&__square {
				position: relative;
				margin-right: 20px;
				border-top: 1px solid variables.$black-color;
				border-left: 1px solid variables.$black-color;
				border-right: 1px solid variables.$secondary-color;
				border-bottom: 1px solid variables.$secondary-color;
				width: 100%;
				max-width: 28px;
				height: 28px;

				&::before {
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					width: calc(100% - 2px);
					height: calc(100% - 2px);
					transform: translate(-50%, -50%);
					background-color: transparent;
				}

				&[data-state='true'] {
					&::before {
						background-color: variables.$success-input;
					}
				}

				&[data-state='false'] {
					&::before {
						background-color: variables.$error-input;
					}
				}
			}
		}
	}

	&_bottom {
		display: flex;
		gap: 25px;
		margin-bottom: 8px;
		padding-left: 6px;
		padding-right: 6px;

		&__name {
			border-top: 2px solid variables.$gray-disabled-color;
			border-left: 2px solid variables.$gray-disabled-color;
			border-right: 2px solid variables.$white-color;
			border-bottom: 2px solid variables.$white-color;
			padding: 9px;
			width: 100%;
			max-width: 281px;
			@include mixins.text(18px, 400);
			text-align: left;
		}

		&_btn {
			padding: 0 5px;
		}
	}
}
