.carousel {
	position: relative;
}

.swiper {
	padding-bottom: 52px;
}

.slide {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 12px;
	border: 2px solid var(--lan-very-dark-gray);
	border-radius: 8px;
	height: auto;
}

.navButtons {
	position: absolute;
	display: flex;
	right: 8px;
	gap: 20px;
}
