
@use '@/shared/scss/variables.module';
@use '@/shared/scss/mixins.module';

.popup {
    width: 572px;
    height: 189px;
    background: variables.$primary-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center
}

.info {
    margin-top: 46px;
    @include mixins.text(20px, 400);
    text-transform: uppercase;
}

.button {
    margin-bottom: 46px;
    background-color: variables.$secondary-color;

    span {
        @include mixins.text(32px, 400);
        line-height: 1;
    }
}