@use '@/shared/scss/mixins.module';
@use '@/shared/scss/variables.module';

.popupWindow {
	position: relative;
	width: 1350px;
	height: 623px;
	box-sizing: content-box;
	background-image: url('/images/block_limit_switches.png');
	background-size: 478px 399px;
	background-position: 463px 155px;
	background-origin: content-box;
	background-repeat: no-repeat;
	overflow: hidden;
}

.block {
	display: flex;
	flex-direction: row;
	gap: 190px;
	padding: 228px 0 0 570px;

	&__left {
		position: relative;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 41px 22px;
		padding-top: 12px;
		width: 78px;

		&_provod {
			position: absolute;
			top: -147px;
			left: -173px;
			display: flex;
			flex-direction: column;

			> :nth-child(1) {
				margin: 0 0 -202px;
			}
		}

		&_marker {
			position: absolute;
			top: 13px;
			left: -281px;
			display: flex;
			flex-direction: column;
			gap: 111px;
		}

		&_screw {
			position: absolute;
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 114px 30px;
			top: 15px;
			left: 3px;
		}
		.provod__A1 {
			position: absolute;
			bottom: 76px;
			left: 64px;

			> :first-child {
				margin-bottom: -8px;
			}

			&_marker {
				position: absolute;
				top: 29px;
				left: 10px;
			}
		}
	}

	&__right {
		display: flex;
		flex-direction: column;
		gap: 32px;
		width: 26px;
	}
}

.textBlock {
	position: absolute;
	top: 218px;
	left: 568px;
	display: grid;
	grid-template-columns: 35px 35px;
	gap: 117px 22px;

	&__text {
		@include mixins.text(20px, 400);
	}
}
