.component {
	display: block;
	position: relative;
}

.component_over {
	.screw {
		opacity: 0.8;
	}
}

.provod {
	position: absolute;

	&__left {
		top: 0;
	}

	&__top {
		top: 0;
		right: 0;
	}

	&__right {
		right: 0;
		bottom: 2px;
	}
}
