@use '@/shared/scss/variables.module';

.arrow {
	display: inline-grid;
	grid-template-areas:
		'top top top'
		'left center right'
		'bottom bottom bottom';
	align-items: center;
	justify-items: center;
	position: relative;

	&__icon {
		grid-area: center;
	}

	&__text {
		font-size: 13px;
		font-weight: bold;
		line-height: 14px;

		&_top {
			grid-area: top;

			&_left {
				position: absolute;
				top: -20px;
				right: 36px;
			}

			&_right {
				position: absolute;
				top: -20px;
				left: 23px;
			}
		}

		&_bottom {
			grid-area: bottom;

			&_left {
				position: absolute;
				bottom: -15px;
				right: 36px;
			}

			&_right {
				position: absolute;
				bottom: -15px;
				left: 23px;
			}
		}

		&_left {
			grid-area: left;
		}

		&_right {
			grid-area: right;
		}
	}
}
