@use '../../shared/scss/_variables.module.scss' as variables;
@use '../../shared/scss/_mixins.module.scss' as mixins;

.headerWrapper {
  @include mixins.flex-space-between;
  width: var(--header-width, 520px);
  height: var(--header-height, 26px);
  padding: 4px 8px;
  background: linear-gradient(90deg, variables.$gray-disabled-color 0%, variables.$white-color 100%);
}

.buttonHeader {
  padding: 0;
}

.header {
	width: calc(var(--header-width, 520px) + 2px);
	background: variables.$secondary-color;
	padding: 1px 0 0 2px;
}

.headerText {
  @include mixins.text(14px, 700);
  color: variables.$white-color;
}

