@use '@/shared/scss/variables.module';

.form {
    width: 307px;
    height: 222px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.malfunction, .element {
    background: white;
    position: relative;

    &__select {
        width: 305px;
        height: 49px;
        border-radius: 0;
        padding-left: 5px;
    }
}

.malfunction::after, .element::after {
    content: '';
    width: 26px;
    height: 47px;
    background-image: url('/svg/chevron.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: variables.$primary-color;
    position: absolute;
    right: 1px;
    top: 1px;
    pointer-events: none;
    z-index: 0;
    box-shadow: variables.$default-button-box-shadow;
}
