@use '@/shared/scss/variables.module';

.footer {
	display: flex;
	justify-content: space-between;
	padding: 8px;
	background-color: #c0c0c0;
	gap: 12px;
	border-top: 1px solid variables.$white-color;

	&__buttons {
		margin-left: calc(
			50% - 92px
		); // 92 - это половина ширины контейнера с кнопками
		display: flex;
		gap: 8px;
		justify-content: center;
		align-items: center;
	}

}
