@use '../scss/variables.module';

// Центрирование flex
@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

// изменяемая часть кнопок
@mixin change-button(
	$bg-color: variables.$primary-color,
	$text-color: variables.$black-color,
	$box-shadow: variables.$default-button-box-shadow,
	$cursor: pointer
) {
	background-color: $bg-color;
	color: $text-color;
	box-shadow: $box-shadow;
	cursor: $cursor;
}

// основная часть кнопок
@mixin button(
	$bg-color: variables.$primary-color,
	$text-color: variables.$black-color,
	$box-shadow: variables.$default-button-box-shadow,
	$cursor: 'pointer'
) {
	@include flex-center;
	@include change-button;
	transition: all variables.$transition-time ease;
	border: none;
	outline: none;
}

// текст
@mixin text($font-size, $font-weight, $overflow: 'false') {
	// если нужно чтобы текст, который выходит за границы блока, обрезался, нужно третьим параметром передать overflow
	font-size: $font-size;
	font-weight: $font-weight;
	text-align: center;
	@if $overflow == 'overflow' {
		white-space: nowrap;
		overflow: hidden;
	}
}

@mixin part {
	position: absolute;
	opacity: 0;
	cursor: pointer;

	&:hover {
		opacity: 0.5;
	}
}

@mixin point {
	position: absolute;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	outline: none;
	background: #D9D9D9;
	box-shadow: 0px 0px 0px 2px #C0C0C0 inset;
	box-shadow: 0px 0px 0px 1px #8A8A8A inset;
	border: none;
	opacity: 1; // поставить opacity 0, 1 стоит для демонстрации

	&:hover {
		box-shadow: 0px 0px 6px 0px #0BB4B4;
		opacity: 1;
	}

	&:active {
		box-shadow: 0px 0px 6px 0px #0BB4B4;
		opacity: 1;
	}
}
