.MockBtn {
    padding: 10px 20px;
    background-color: #2178c0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
  
    &:hover {
      background-color: #0056b3;
    }
  }