@use '@/shared/scss/variables.module';
@use '@/shared/scss/mixins.module';

.line {
	display: block;
	width: 8px;
	margin: -2px 0;
	border: 1px solid variables.$black-color;
	border-bottom: none;
	border-top: none;
	background-color: variables.$backgroundMArker;
	transition: all 0.3s ease-in;

	&__absolute {
		position: absolute;
		bottom: -16px;
		left: 6px;
	}
}

.pin {
	position: absolute;
	top: -15px;
	left: 50%;
	transform: translateX(-50%);
}
