.probe {
	position: absolute;
	cursor: grab;
	width: 17px;
	height: 78px;
	left: -35px;
	z-index: 2;
}

.probe_disabled {
	pointer-events: none;
	cursor: default;
}

.dragging {
	z-index: 120;
	cursor: grabbing;
}

.black {
	top: 4px;
}

.red {
	top: 95px;
}
