@use '../../scss/_variables.module.scss' as variables;
@use '../../scss/_mixins.module.scss' as mixins;

.input {
  @include mixins.flex-center;
  padding: 12px 16px;
  transition: all variables.$transition-time ease;
  position: relative;
  background: variables.$white-color;
  &:focus {
    outline: none;
  }
  &:hover {
    box-shadow: 0px 0px 0px 6px variables.$gray-disabled-color;
    box-shadow: 0px 1px 4px 0px variables.$gray-disabled-color;
    border-bottom: 1px solid variables.$gray-disabled-color;
  }

  &.maximum {
    width: 470px;
    height: 49px;
    box-shadow: 0px 0px 0px 2px variables.$white-color;

    &.error {
      box-shadow: -1px -1px 0px 1px variables.$error-button;
      border: 1px solid variables.$gray-disabled-color;
    }

    &.default {
      box-shadow: 0px 0px 0px 2px variables.$white-color;
      box-shadow: -1px -1px 0px 1px variables.$black-color;
      border: 1px solid variables.$gray-disabled-color;

      &.subscribe {
        border: 1px solid variables.$gray-disabled-color;
        box-shadow: -1px -1px 0px 1px variables.$success-color;
      }
    }

    &.disabled {
      border: 1px solid variables.$gray-disabled-color;
      box-shadow: -1px -1px 0px 1px variables.$gray-disabled-color;
    }

    &.success {
      border: 1px solid variables.$gray-disabled-color;
      box-shadow: -1px -1px 0px 1px variables.$success-color;
    }

    &.warn {
      color: variables.$black-color;
      border: 1px solid variables.$gray-disabled-color;
      box-shadow: -1px -1px 0px 1px variables.$warn-button;
    }
  }

  &.average {
    width: 520px;
    height: 52px;

    &.error {
      border: 2px solid variables.$error-button;
      padding-left: 12px;
    }

    &.default {
      border: 3px solid variables.$black-color;
      // &.subscribe {
      //   border: 1px solid variables.$gray-disabled-color;
      // }
    }

    &.disabled {
      border: 2px solid variables.$gray-disabled-color;
    }

    &.success {
      border: 2px solid variables.$success-color;
      padding-left: 12px;
    }
  }

  &.minimum {
    width: 520px;
    height: 48px;
    border: 1px solid variables.$gray-disabled-color;

    &:hover {
      border-bottom: 2px solid variables.$gray-disabled-color;
      box-shadow: 0px 1px 4px 0px variables.$gray-disabled-color;
    }

    &.error {
      border-bottom: 2px solid variables.$error-button;
    }

    &.default {
      border-bottom: 2px solid variables.$black-color;
      // &.subscribe {
      //   border: 1px solid variables.$gray-disabled-color;
      // }
    }

    &.disabled {
      border-bottom: 2px solid variables.$gray-disabled-color;
    }

    &.success {
      border-bottom: 2px solid variables.$success-color;
    }
  }

  &.code {
    width: 193px;
    height: 55px;
    position: relative;
    box-shadow: inset 1px 1px 4px variables.$input-box-shadow;
    @include mixins.text(38, 500);

    &.error {
      background: variables.$secondary-color;
      color: variables.$error-button;
    }

    &.disabled {
      background: variables.$gray-disabled-color;
      color: variables.$white-color;
    }

    &.default {
      background: variables.$secondary-color;
      box-shadow: inset 1px 1px 4px variables.$input-box-shadow;
      width: 101px;
      height: 27px;
    }
  }
}

.successIcon {
  position: absolute;
  top: 8px;
  left: 12px;
  width: 30px;
  height: 30px;
  pointer-events: none;
}

.successText {
  margin-top: 4px;
  @include mixins.text(12, 400);
  color: variables.$success-color;
  align-items: center;
}

.login {
  padding: 18px 16px;
  color: variables.$black-color;
  @include mixins.text(20, 500);
  line-height: 100%;
}

.errorText {
  color: variables.$error-button;
  @include mixins.text(12, 400);
  align-items: center;
}

.warnText {
  color: variables.$warn-button;
  @include mixins.text(12, 400);
  align-items: center;
}

.inputWrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.icon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  pointer-events: none;
}

.iconLamp {
  position: absolute;
  top: 50%;
  right: -50px;
  transform: translateY(-50%);
  pointer-events: none;
}