.panel {
	width: 100%;
	height: 247px;
	position: relative;

	&__arrow {
		position: absolute;
		width: 133px;
		height: 133px;
		top: 110px;
		left: 56px;
		cursor: grab;

		&:active {
			cursor: grabbing;
		}
	}

	&__wire {
		position: absolute;
		top: 294px;

		&_black {
			left: 128px;
		}

		&_grey {
			left: 167px;
		}

		&_red {
			left: 206px;
		}
	}
}
