.panel {
	width: 100%;

	&__background {
		position: absolute;
		top: 0;
		left: 0;
	}

	&__arrow {
		position: absolute;
		width: 133px;
		height: 133px;
		top: 112px;
		left: 56px;
		cursor: grab;
		z-index: 2;

		&:active {
			cursor: grabbing;
		}
	}

	&__wire {
		position: absolute;
		top: 295px;

		&_black {
			left: 128px;
		}

		&_grey {
			left: 167px;
		}

		&_red {
			left: 206px;
		}
	}
}
