.advantages {
	padding-top: 86px;
	padding-bottom: 86px;

	&__title {
		margin-bottom: 52px;
	}

	&__content {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-column-gap: 24px;
		grid-row-gap: 26px;
	}
}
