@use '@/shared/scss/variables.module';

.multimeter {
	width: 245px;
	height: 333px;
	padding: 12px;
	box-sizing: border-box;
	user-select: none;
	background-color: variables.$B8-color;
	box-shadow: variables.$realistic-drop-shadow;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 13px;
	position: relative;

	&::before {
		content: '';
		width: 34px;
		height: 15px;
		background: variables.$B8-color;
		display: block;
		position: absolute;
		top: 60px;
		left: -34px;
		z-index: 0;
	}

	&::after {
		content: '';
		width: 34px;
		height: 15px;
		background: variables.$B8-color;
		display: block;
		position: absolute;
		top: 150px;
		left: -34px;
		z-index: 0;
	}

	&__probeHolder {
		position: absolute;
		left: -34px;
		z-index: 2;

		&_black {
			top: 60px; 
		}

		&_red {
			top: 150px;
		}
	}

	&__probe {
		position: absolute;
		width: 29px;
		height: 90px;
		left: -36px;
		z-index: 1;

		&:active {
			transform: rotate(-15deg);
			z-index: 3;
		}

		&_black {
			top: 5px;
		}

		&_red {
			top: 95px;
		}
	}
}
