@use '@/shared/scss/variables.module';

.multimeter {
	width: 245px;
	height: 333px;
	padding: 11px;
	box-sizing: border-box;
	user-select: none;
	background-color: variables.$B8-color;
	box-shadow: variables.$realistic-drop-shadow;
	background-image: url('/images/multimeter.png');
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 10px;
	position: relative;

	&::before {
		content: '';
		width: 34px;
		height: 15px;
		background: variables.$B8-color;
		display: block;
		position: absolute;
		top: 60px;
		left: -34px;
		z-index: 0;
	}

	&::after {
		content: '';
		width: 34px;
		height: 15px;
		background: variables.$B8-color;
		display: block;
		position: absolute;
		top: 150px;
		left: -34px;
		z-index: 0;
	}

	&__probeHolder {
		position: absolute;
		left: -34px;
		z-index: 2;

		&_black {
			top: 59px;
		}

		&_red {
			top: 150px;
		}
	}

	&_topLayer {
		z-index: 105;
	}
}
