.multimetr {
    width: 246px;
    height: 330px;
    box-shadow: -2px -2px 0px 0px #D9D9D9 inset,
                1px 1px 0px 1px #B0B0B0 inset,
                2px 2px 0px 0px #FFFFFF inset,
                -1px -1px 0px 0px #1D1D1B inset,
                1px 1px 0px 0px #D9D9D9 inset;
    background-color: #D9D9D9;
    background-image: url(../../../public/images/popup.png);
    position: absolute;
    right: 157px;
    bottom: 22px;
}