.form__section {
	padding-top: 172px;
	padding-bottom: 172px;
}

.social {
	&__form {
		display: flex;
		gap: 24px;
		flex-wrap: wrap;

		&__block {
			height: 240px;
			width: 240px;
			border: 1px solid var(--lan-very-dark-gray);
			border-radius: 12px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}

.link {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: var(--second-family);
	font-weight: 600;
	font-size: 14px;
	line-height: 100%;
	text-transform: uppercase;
	color: var(--lan-light-grayish-blue);
	transition: all 0.2s ease-in-out;

	&:hover {
		color: var(--lan-bright-cyan---lime-green);
	}

	&__svg {
		width: 40px;
		height: 40px;
		margin-right: 12px;

		path {
			fill: var(--lan-light-grayish-blue);
			transition: all 0.2s ease-in-out;
		}

		&__dzen {
			margin-right: 12px;
		}
	}

	&:hover &__svg path {
		fill: var(--lan-bright-cyan---lime-green);
	}
}
