svg {
    width: 30px;
    height: 30px;
    border-width: 2px;
    border-style: solid;
    border-color: #C0C0C0;
    border-image-source: linear-gradient(149.04deg, #FFFFFF 19.17%, #999999 40.42%);
    background: #ED3932;
    mix-blend-mode: color;
    backdrop-filter: blur(8px);
    box-shadow:
      0.5px 0.5px 0px 0px #8A8A8A,
      2px 2px 3px 0px #FFFFFF inset,
      -2px -2px 3px 0px #00000080 inset;
  }
  