@use '@/shared/scss/mixins.module';
@use '@/shared/scss/variables.module';

.header {
	max-height: variables.$header-height;
	min-width: 1700px;

	.wrapper {
		height: 100%;
		max-height: inherit;
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 6.5px 8px;
		background: variables.$secondary-color;
		border-bottom: 1px solid variables.$gray-disabled-color;

		.windows {
			width: 289px;
			height: 40px;
			display: flex;
			justify-content: space-between;
			align-self: stretch;

			&_ptk {
				width: 92px;
				font-size: 24px;
				line-height: 40px;
				text-align: center;
				background-color: variables.$success-input;
				text-transform: uppercase;
				box-shadow: 1.46px 1.46px 0px 0px variables.$black-color inset,
					-1.46px -1.46px 0px 0px rgba(255, 255, 255, 0.5) inset;
			}

			&_defense {
				padding: 5px 15px;
				color: variables.$gray-disabled-color;
				background: #d9d9d9;
				font-weight: 400;
				font-size: 18px;
				line-height: 16px;
				letter-spacing: 0%;
				text-align: center;
				box-shadow: 1.46px 1.46px 0px 0px variables.$black-color inset,
					-1.46px -1.46px 0px 0px variables.$white-color inset;
				max-width: 92px;
			}

			&_kpm {
				box-sizing: border-box;
				width: 57px;
				color: variables.$white-color;
				font-size: 24px;
				line-height: 40px;
				text-align: center;
				text-transform: uppercase;
				background-color: variables.$success-input;
				border: 1px solid variables.$black-color;
			}
		}

		.window {
			width: 65px;
			height: 18px;
			margin: 20px 38px 14px;
		}

		.buttons {
			width: 456px;
			display: flex;
			justify-content: space-between;
		}

		.button {
			text-transform: uppercase;
		}
	}
}