@use '@/shared/scss/variables.module';

.header {
    max-height: variables.$header-height;
    min-width: 1700px;

    .wrapper {
        height: 100%;
        max-height: inherit;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 32px 10px 106px;
        background: variables.$secondary-color;
        border-bottom: 1px solid variables.$gray-disabled-color;

        .buttons {
            width: 448px;
            display: flex;
            justify-content: space-between;

            &__wide {
                width: 501px;
            }
        }

        .button {
            text-transform: uppercase;
        }

        .datetime {
            font-size: 28px;
        }
    }
}