@use '@/shared/scss/variables.module';

.field {
	position: relative;
	width: 48px;
	height: 18px;
	line-height: 18px;
	padding: 1px;
	margin: 3px;

	&_blue {
		background-color: variables.$cyan-color;
		border: 1px solid variables.$black-color;
	}

	&_yellow {
		background-color: variables.$yellow-color;
		border: 1px solid variables.$black-color;
	}

	&_white {
		box-shadow: 0px 0px 0px 1px variables.$red-color;
		background-color: variables.$white-color;
	}
}

.text {
	font-size: 14px;
	font-weight: bold;
	line-height: 14px;
	position: absolute;

	&_top {
		left: 0;
		top: -19px;
	}

	&_bottom {
		left: 0;
		top: 18px;
	}

	&_left {
		right: 48px;
		top: 3px;
	}

	&_right {
		left: 50px;
		top: 3px;
	}

	&_white {
		color: variables.$white-color;
	}
}
