.connectionPoint {
  position: absolute; 
  width: 18px;        
  height: 18px;
  border-radius: 50%;
  background-color: #B4B4B499; 
  border: 1px solid #777;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: help; 
  transition: background-color 0.15s ease, border-color 0.15s ease,  0.15s ease;
  box-sizing: border-box;
  z-index: 1
}

.connectionPoint.over .connectionDot {
  background-color: #ffdd57; 
  outline: 2px solid #ffae00;
  transform: scale(1.2);
}

.connectionDot {
  width: 6px;
  height: 6px;
  background-color: #444;
  border-radius: 50%;
  transition: background-color 0.15s ease;
}

.connectionPoint.over .connectionDot {
  background-color: #fff; 
}

.connectionLabel {
  position: absolute;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 9px;
  color: #333;
  white-space: nowrap;
  background-color: #FFFFFF99; 
  padding: 0px 3px;
  border-radius: 2px;
  pointer-events: none;
}

