@use '@/shared/scss/variables.module';
@use '@/shared/scss/mixins.module';

.attributes {
    width: 89px;
    height: 110px;
    position: absolute;
    bottom: 8px;
    @include mixins.flex-space-between;
    flex-direction: column;

    .line {
        width: 89px;
        height: 2px;
        background-color: variables.$black-color;
        box-shadow: -2px -1.46px 0px 0px rgba(255, 255, 255, 1) inset;
    }

    .button__finish span {
        @include mixins.text(14px,400);
        white-space: normal;
    }
}