.main {
    background: #D9D9D9;
    min-height: 100%;

    .title {
        font-weight: 400;
        font-size: 32px;
        line-height: 32px;
        letter-spacing: 0%;
    }

    .wrapper {
        margin: 38px 124px 16px 85px;
        display: flex;
        align-items: center;
        gap: 44px;
    }
}