@use '@/shared/scss/mixins.module';
@use '@/shared/scss/variables.module';

.section {
	display: flex;
	flex-direction: column;
	margin: 0 auto 12px 158px;

	&__title {
		font-weight: 400;
		font-size: 32px;
		align-self: flex-start;
	}

	&__content {
		position: relative;
		width: 1647px;
		height: 725px;
		padding: 42px 35px 0 54px;
		box-sizing: content-box;
		background-image: url('../../../public/svg/turbine-unit.svg');
		background-origin: content-box;
		background-repeat: no-repeat;
		overflow: hidden;
	}
}
