@use '@/shared/scss/mixins.module';
@use '@/shared/scss/variables.module';

.section {
	display: flex;
	flex-direction: column;
	margin: 12px 0;
	margin-left: auto;

	&__title {
		font-weight: 400;
		font-size: 32px;
		align-self: flex-start;
	}
}
