@use '@/shared/scss/mixins.module';
@use '@/shared/scss/variables.module';

.main {
	min-height: calc(
		100vh - (variables.$header-height + variables.$footer-height)
	);
	position: relative;
	overflow-x: hidden;
	display: flex;
	justify-content: space-between;
}

.simulator {
	display: flex;
	flex-direction: column;
	margin: 12px 0;
	margin-left: auto;

	&__title {
		font-weight: 400;
		font-size: 32px;
		align-self: flex-start;
	}
}
