@use '@/shared/scss/mixins.module';
@use '@/shared/scss/variables.module';

.modal {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 5;
	@include mixins.flex-center;
	

	&_isBlur {
		backdrop-filter: blur(4px);
	}

	&_displayNone {
		display: none;
	}
}
