.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	width: var(--w);
	height: var(--h);
	border-radius: var(--radius);

	background-color: var(--lan-bright-cyan---lime-green); // фон кнопки
	color: var(--lan-very-dark-mostly-black-blue);

	border: none;
	cursor: pointer;
	transition: background-color 0.2s, outline 0.2s;

	&:hover {
		background-color: #93f2a8;
	}
	&:active {
		background-color: var(--bg-active);
	}

	&:focus-visible {
		outline: 2px solid var(--focus-outline);
	}
}
