/* src/componentsLanding/Button/styles.module.scss */
.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	width: var(--w);
	height: var(--h);
	border-radius: var(--radius);

	background-color: var(--bg); // фон кнопки
	color: var(--color, #fff); // цвет текста (fallback = white)

	border: none;
	cursor: pointer;
	transition: background-color 0.2s, outline 0.2s;

	&:hover {
		background-color: var(--bg-hover);
	}
	&:active {
		background-color: var(--bg-active);
	}

	&:focus-visible {
		outline: 2px solid var(--focus-outline);
	}
}
