@use '@/shared/scss/mixins.module';
@use '@/shared/scss/variables.module';

.measurements {
    width: 284px;
    height: 82vh;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    justify-content: flex-end;
}
