@use '@/shared/scss/mixins.module';
@use '@/shared/scss/variables.module';

.measurements {
    width: 1000px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
