@use '@/shared/scss/mixins.module';
@use '@/shared/scss/variables.module';

.modal {
	display: flex;
	flex-direction: column;
	width: 386px;
	height: 460px;
	position: relative;

	&__background {
		background-color: #e3e3e3;
		margin: -8px -6px;
		height: 280px;
	}

	&__img {
		position: absolute;
		bottom: 50%;
		left: 50%;
		transform: translate(-45%, 34%);
	}
	&__info {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 47px 0;
		gap: 28px;

		&__text {
			@include mixins.text(20px, 500);
		}
	}
}
