@use '@/shared/scss/mixins.module';
@use '@/shared/scss/variables.module';

.animation {
	animation: variables.$blink;
}

.gate {
	position: relative;
	filter: drop-shadow(variables.$default-box-shadow);

	& > :nth-child(2) {
		margin-left: -1px;
	}

	&__cross {
		position: absolute;
		left: 23%;
		top: -1px;
	}

	&__power {
		position: absolute;
		left: 42%;
		top: -1px;
	}
}
