@use '@/shared/scss/mixins.module';
@use '@/shared/scss/variables.module';

.gate {
	position: relative;
	overflow: hidden;
	background: none;
	filter: drop-shadow(variables.$default-box-shadow);
	& > :first-child {
		transform: rotate(270deg);
	}

	& > :nth-child(2) {
		transform: rotate(90deg);
	}

	&__cross {
		color: variables.$red-color;
		position: absolute;
		left: 27%;
		transform: translateY(10%);
	}
}

//задвижка открыта
.open {
	@include mixins.triangle('green');
}

// задвижка закрыта
.close {
	@include mixins.triangle('black-white');
}

// нет питания
.noPower {
	@include mixins.triangle('grey');
}

// задвижка идет на закрытие
.toClose {
	& > :first-child {
		@include mixins.triangle('black-white');
		animation: variables.$blink;
	}

	& > :nth-child(2) {
		@include mixins.triangle('green');
	}
}

// задвижка идет на открытие
.toOpen {
	& > :first-child {
		@include mixins.triangle('black-white');
	}

	& > :nth-child(2) {
		@include mixins.triangle('green');
		animation: variables.$blink;
	}
}

.intermediate {
	& > :first-child {
		@include mixins.triangle('black-white');
	}

	& > :nth-child(2) {
		@include mixins.triangle('green');
	}
}
