@use '@/shared/scss/variables.module';
@use '@/shared/scss/mixins.module';

.gate {
	position: relative;
	display: flex;
	grid-area: center;

	& > :nth-child(2) {
		margin-left: -1px;
	}

	&_vertical {
		flex-direction: column;

		& > :nth-child(2) {
			margin-left: 0;
		}
	}

	&__wrapper {
		display: inline-grid;
		grid-template-areas:
			'top top top'
			'left center right'
			'bottom bottom bottom';
		align-items: center;
		justify-items: center;
	}

	&__text {
		@include mixins.text(12px, 500);

		&_top {
			grid-area: top;
		}

		&_bottom {
			grid-area: bottom;
		}

		&_left {
			grid-area: left;
		}

		&_right {
			grid-area: right;
		}
	}

	&_shadow {
		filter: drop-shadow(variables.$default-box-shadow);
	}

	&__cross {
		position: absolute;
		left: 22%;
		top: -1px;

		&_vertical {
			left: -3%;
			top: 8px;
		}
	}

	&__power {
		position: absolute;
		left: 42%;
		top: -1px;

		&_vertical {
			left: 0%;
			top: 16px;
		}
	}

	&__animation {
		animation: variables.$blink;
	}
}
