$color-indicator: #69fffa;
$black: #000000;
$white: #ffffff;
$color-disabled: #8a8a8a;

.window {
  background: url('/images/gate-window.png') center/98.5% no-repeat, url('/images/gate-stroke.png') center/cover no-repeat;
  width: 206px;
  height: 101px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 56px 0;
}

.indication {
  margin-left: 35px;
  display: flex;
  align-items: center;
  gap: 3px;
}

.value {
  display: block;
  background: $color-indicator;
  min-width: 50px;
  border: 1px solid $black;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0%;
  box-sizing: border-box;
  padding: 3px 2px;
  color: $black;
}

.measurements {
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0%;
  color: $white;
}