@use '../../scss/variables.module';
@use '../../scss/mixins.module';

.header {
	max-height: variables.$header-height;

	&__button {
		@include mixins.text(18px, 400, overflow);
	}

	.wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 6.5px 8px;
		background: variables.$secondary-color;
		position: relative;
		border-bottom: 1px solid variables.$gray-disabled-color;
		max-height: inherit;

		.defense {
			padding: 5px 15px;
			position: absolute;
			left: 8px;
			background: #d9d9d9;
			font-weight: 400;
			font-size: 18px;
			line-height: 16px;
			letter-spacing: 0%;
			text-align: center;
			box-shadow: 1.46px 1.46px 0px 0px variables.$black-color inset,
				-1.46px -1.46px 0px 0px variables.$white-color inset;
			max-width: 92px;
		}

		.part {
			display: flex;
			gap: 4px;
			align-items: center;

			&:first-of-type {
				margin-left: 52px;
			}

			.name {
				margin: 0px 12px;
				font-weight: 400;
				font-size: 24px;
				line-height: 28.13px;
				letter-spacing: 0%;
				text-transform: uppercase;
				color: variables.$black-color;
			}
		}
	}
}
