.card {
	width: 100%;
	height: 100%;
	padding: 24px;
	padding-top: 26px;
	border-radius: 12px;
}

.title {
	font-family: var(--second-family);
	font-weight: 600;
	font-size: 14px;
	line-height: 136%;
	text-transform: uppercase;
	color: var(--lan-light-grayish-blue);
	margin: 0;
	margin-bottom: 10px;
}

.content {
	display: flex;
	position: relative;
	margin: 0;

	&__button {
		position: absolute;
		right: 0;
		bottom: 0;
		font-family: var(--second-family);
		font-weight: 400;
		font-size: 17px;
		line-height: 128%;
		color: var(--lan-light-grayish-cyan);
	}
}

.description,
.fulldescription {
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 17px;
	line-height: 128%;
	color: var(--lan-light-grayish-cyan);
}

.card__rating {
	display: flex;
	gap: 10px;
	margin-bottom: 18px;
}

.rating__star {
	width: 15px;
	height: 15px;
	background: url('/assets/svg/star.svg') center/contain no-repeat;
}

.is__active {
	width: 15px;
	height: 15px;
	background: url('/assets/svg/star-active.svg') center/contain no-repeat;
}
