@use '@/shared/scss/variables.module';

.point {
	position: absolute;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	outline: none;
	background: variables.$primary-color;
	box-shadow: variables.$checkbox-box-shadow;
	border: none;
	opacity: 0;

	&:hover {
		box-shadow: variables.$checkbox-hover-box-shadow;
		opacity: 1;
	}

	&:active {
		box-shadow: variables.$checkbox-hover-box-shadow;
		opacity: 1;
	}
}