@use '@/shared/scss/variables.module';

.schemePoint {
	position: absolute;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	outline: none;
	background: variables.$primary-color;
	box-shadow: variables.$checkbox-box-shadow;
	border: none;
	opacity: 0; 
    transition: opacity 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease, transform 0.2s ease;

	&:hover {
		box-shadow: variables.$checkbox-hover-box-shadow;
		opacity: 1; 
	}

	&:active {
		box-shadow: variables.$checkbox-hover-box-shadow;
		opacity: 1; 
	}
}

.p\.p\.0\.1 { top: -10px; left: 68px; }
.p\.p\.0\.2 { left: 110px; top: 7px; }
.p\.p\.0\.3 { left: 152px; top: 21px; }
.p\.p\.2\.1 { left: 68px; top: 171px; }
.p\.p\.2\.2 { left: 110px; top: 171px; }
.p\.p\.2\.3 { left: 152px; top: 171px; }
.p\.c\.0 { left: 68px; top: 195px; }
.p\.c\.1 { left: 300px; top: 195px; }
.p\.c\.2 { left: 352px; top: 195px; }
.p\.p\.3\.1 { left: 68px; top: 310px; }
.p\.p\.3\.2 { left: 110px; top: 280px; }
.p\.p\.3\.3 { left: 152px; top: 247px; }
.p\.p\.4\.1 { left: 68px; top: 448px; }
.p\.p\.4\.2 { left: 110px; top: 415px; }
.p\.p\.4\.3 { left: 152px; top: 385px; }
.p\.p\.5\.1 { left: 68px; top: 560px; }
.p\.p\.5\.2 { left: 110px; top: 560px; }
.p\.p\.5\.3 { left: 152px; top: 560px; }
.p\.c\.3\.2\.1 { left: 573px; top: 195px; }
.p\.c\.3\.2\.2 { left: 573px; top: 458px; }
.p\.c\.3\.2\.3\.2\.1 { left: 775px; top: 195px; }
.p\.c\.3\.2\.3\.2\.2 { left: 746px; top: 458px; }
.p\.c\.n { left: 930px; top: 195px; }


// Стиль для подсветки точки, когда над ней перетаскивается щуп
.over {
	opacity: 1;
	background-color: #ffdd57;
	// Другие эффекты, например, тень или увеличение:
	box-shadow: 0 0 8px 3px rgba(255, 174, 0, 0.7);
	transform: scale(1.1);
}