.element {
	position: absolute;
	background: transparent;
	top: 145px;
	left: 82px;
	width: 117px;
	height: 70px;
	cursor: pointer;

	&_hover:hover {
		opacity: 0.5;
	}

	&__highResistance {
		outline: 2px solid blue;
	}

	&__baseResistance {
		outline: 2px solid red;
	}
}
