@use '@/shared/scss/variables.module';

.automatic {
	width: 366px;
	height: 174px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__buttons {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
}
