
@use '@/shared/scss/variables.module';
@use '@/shared/scss/mixins.module';

.popup {
    width: 400px;
    height: 150px;
    background: variables.$primary-color;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center
}

.title {
    @include mixins.text(20px, 400);
}

