@use '../../scss/variables.module';
@use '../../scss/mixins.module';

.sidebar {
	position: absolute;
	top: 52px;
	left: -126px;
	padding: 60px 8px 8px;
	height: calc(100vh - 130px); //от общей высоты вычла высоту хедера и футера
	background: #c0c0c0;
	border-right: 1px solid #8a8a8a;
	transition: left 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	z-index: 1;

	&.open {
		left: 0;
	}

	.sidebarContent {
		display: flex;
		flex-direction: column;
		row-gap: 12px;
	}

	.toggleButton {
		position: absolute;
		top: 50%;
		right: -25px;
		transform: translateY(-50%);
		background: none;
		border: none;
		padding: 0;
		cursor: pointer;
		width: 25px;
	}

	.toggleButtonInner {
		position: relative;
		height: 90px;
		background: transparent;
		z-index: 2000;
	}

	.toggleButtonLeft {
		position: absolute;
		top: 10px;
		left: 0;
		width: 20px;
		height: 50%;
		background: #c0c0c0;
		border-right: 1px solid #8a8a8a;
		transform: skew(0deg, 30deg);
		z-index: 3000;
		transition: 0.2s ease-in;
	}

	.toggleButtonRight {
		position: absolute;
		bottom: 10px;
		left: 0;
		width: 20px;
		height: 50%;
		background: #c0c0c0;
		border-right: 1px solid #8a8a8a;
		border-bottom: 1px solid #8a8a8a;
		transform: skew(0deg, -30deg);
		z-index: 4000;
		transition: 0.2s ease-in;
	}

	.toggleButtonIcon {
		position: absolute;
		top: 50%;
		left: 30%;
		transform: translate(-50%, -50%);
		transition: transform 0.3s ease;
		z-index: 5000;
	}
}

.toggleButton:hover .toggleButtonLeft,
.toggleButton:hover .toggleButtonRight {
	background: #b0b0b0;
}

.toggleButton:hover .toggleButtonIcon {
	transform: translate(-50%, -50%) scale(1.1);
}

.toggleButton:active .toggleButtonLeft,
.toggleButton:active .toggleButtonRight {
	background: #b0b0b0;
}

.toggleButton:active .toggleButtonIcon {
	transform: translate(-50%, -50%) scale(0.9);
}

.openButton {
	width: 20px;
	height: calc(100vh - 130px);
	background: #c0c0c0;
	border-top: 1px solid variables.$primary-color;
	border-left: 1px solid variables.$primary-color;
	border-right: 1px solid variables.$gray-disabled-color;
	border-bottom: 1px solid variables.$gray-disabled-color;
	cursor: pointer;
	padding: 0;
	@include mixins.flex-center;
	transition: background 0.2s;

	&:hover {
		background: #b0b0b0;
	}
}

.rotatedSvg {
	transform: rotate(180deg);
}
