$color-open: #08FE07;
$color-close: #8A8A8A;
$color-intermediate: #FFFFFF;
$animation-blink: blink 1s step-end infinite;

//задвижка открыта 
#open svg {
    color: $color-open;
}

// задвижка закрыта
#close svg {
    color: $color-close;
}

// задвижка идет на закрытие
#toClose svg {
    &:first-child {
        color: $color-intermediate;
    }

    &:last-child {
        animation: $animation-blink;
        color: $color-open;
    }
}

// задвижка идет на открытие
#toOpen svg {
    &:first-child {
        color: $color-intermediate;
        animation: $animation-blink;
    }

    &:last-child {
        color: $color-open;
    }
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}