@use '../../scss/variables.module';

.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 8px;
	background-color: #c0c0c0;
	gap: 12px;
	border-top: 1px solid variables.$white-color;

	&__leftPanel {
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		grid-template-rows: repeat(2, auto);
		row-gap: 12px;
		column-gap: 4px;
	}

	&__button {
		background: #e3e3e3;
		border: none;
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: Roboto;
		font-weight: 400;
		font-size: 20px;
		color: black;
		cursor: pointer;
		transition: background 0.3s ease;
		box-shadow: -1px -1px 0px 0px rgb(41, 39, 39) inset,
			1px 1px 0px 0px rgba(176, 176, 176, 1) inset,
			2px 2px 0px 0px rgba(255, 255, 255, 0.8) inset,
			1px 1px 0px 0px rgba(217, 217, 217, 1) inset;

		&:hover {
			background-color: #c9c9c9;
			box-shadow: -1px -1px 0px 0px rgb(41, 39, 39) inset,
				1px 1px 0px 0px rgba(176, 176, 176, 1) inset,
				2px 2px 0px 0px rgba(255, 255, 255, 0.8) inset,
				1px 1px 0px 0px rgba(200, 200, 200, 1) inset;

			.footer__buttonText {
				background-color: transparent;
			}
		}

		&:active {
			background-color: #b9b9b9;
			box-shadow: 2px 2px 0px 0px #8a8a8a inset,
				-2px -1.46px 0px 0px #d9d9d9 inset;
			.footer__buttonText {
				background-color: transparent;
			}
		}

		&Text {
			display: inline-block;
			background-color: #fffe05;
		}
	}

	&__centralPanel {
		display: flex;
		flex-direction: row;
		gap: 12px;
	}

	&__centralGroup__left {
		display: flex;
		flex-direction: column;
		gap: 4px;
		justify-content: space-between;
	}

	&__arrow {
		transform: scale(-1, 1);
	}

	&__toolButton,
	&__mainButton,
	&__actionButton,
	&__closeButton,
	&__controlButton {
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: Roboto;
		font-weight: 500;
		font-size: 20px;
		border: none;
		background-color: #c0c0c0;
		color: #000000;
		cursor: pointer;
		transition: background 0.3s ease, box-shadow 0.3s ease;

		box-shadow: -1px -1px 0px 0px rgb(41, 39, 39) inset,
			1px 1px 0px 0px rgba(176, 176, 176, 1) inset,
			2px 2px 0px 0px rgba(255, 255, 255, 0.8) inset,
			1px 1px 0px 0px rgba(217, 217, 217, 1) inset;

		svg {
			transition: fill 0.3s ease;
		}

		path {
			transition: fill 0.3s ease;
		}

		&:hover {
			background-color: #c9c9c9;
			box-shadow: -1px -1px 0px 0px rgb(41, 39, 39) inset,
				1px 1px 0px 0px rgba(176, 176, 176, 1) inset,
				2px 2px 0px 0px rgba(255, 255, 255, 0.8) inset,
				1px 1px 0px 0px rgba(200, 200, 200, 1) inset;

			.footer__buttonText {
				background-color: transparent;
			}
		}

		&:active {
			color: #8a8a8a;
			background-color: #b9b9b9;
			box-shadow: 2px 2px 0px 0px #8a8a8a inset,
				-2px -1.46px 0px 0px #d9d9d9 inset;
			.footer__buttonText {
				background-color: transparent;
			}

			path {
				fill: #8a8a8a;
				stroke: #8a8a8a;
			}
		}
	}

	&__closeButton {
		padding: 2px !important;
	}

	&__centralGroup__middle {
		display: flex;
		gap: 8px;
		justify-content: center;
		align-items: center;
	}

	&__centralGroup__right {
		display: flex;
		flex-direction: column;
		gap: 4px;
		justify-content: space-between;
	}

	&__rightPanel {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__toolsGroup {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 12px;
	}

	&__warning__wrapper {
		width: 375px;
		height: 24px;
		border-top-width: 1px;
		border-left-width: 1px;
		padding: 4px 0;
		box-shadow: 1px 1px 0px 0px #000000cc inset,
			-1px -1px 0px 0px #ffffffcc inset;
		background-color: transparent;
	}

	&__warning__text {
		text-align: center;
		font-family: Roboto;
		font-weight: 400;
		font-size: 14px;
		color: #7b7b7b;
	}

	&__operatorPanel {
		width: 262px;
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 8px;
		background-color: #c0c0c0;
		box-shadow: 1px 1px 0px 0px #ffffffcc inset,
			-1px -1px 0px 0px #00000040 inset;
	}

	&__largeButton {
		display: block;
		width: 44;
		height: 44;
		border-width: 1.5px;
		background-color: #d9d9d9;
		border: 1.5px solid #00000080;
		cursor: pointer;
		margin-right: 7px;
		box-shadow: -3px -3px 0px 0px #d9d9d9 inset,
			3px 3px 0px 0px #ffffffcc inset, 1px 1px 0px 0px #d9d9d9 inset,
			-1px -1px 0px 0px #000000cc inset, 1px 1px 0px 0px #b0b0b0 inset;

		&:hover {
			background-color: #c9c9c9;
			box-shadow: -1px -1px 0px 0px rgb(41, 39, 39) inset,
				1px 1px 0px 0px rgba(176, 176, 176, 1) inset,
				2px 2px 0px 0px rgba(255, 255, 255, 0.8) inset,
				1px 1px 0px 0px rgba(200, 200, 200, 1) inset;
		}

		&:active {
			color: #8a8a8a;
			background-color: #b9b9b9;
			box-shadow: 2px 2px 0px 0px #8a8a8a inset,
				-2px -1.46px 0px 0px #d9d9d9 inset;
			filter: grayscale(100%);
		}
	}

	&__operator__wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		gap: 8px;
	}

	&__operator {
		font-family: Arial;
		font-weight: 400;
		font-size: 20px;
		color: #000000;
	}

	&__operatorName {
		font-family: Arial;
		font-weight: 700;
		font-size: 18px;
		color: #110f93;
	}
}
