@use '@/shared/scss/mixins.module';
@use '@/shared/scss/variables.module';

.modal {
	&__wrapper {
		position: absolute;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 3;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: stretch;
		

		background: variables.$secondary-color;
		box-shadow: variables.$pop-up-box-shadow,
			variables.$realistic-drop-shadow;

		// Стили для последнего ребёнка (children) внутри wrapper
		> *:last-child {
			padding: 8px 6px;
			box-sizing: content-box;
		}
	}
}
