.environment {
    position: relative; 
    width: 100%;
    height: 332px;
    background-color: transparent;
    overflow: hidden; 
  }
  
  .multimeterPlacement {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1; 
  }
  

  
  // Начальное позиционирование щупов
  .probePlacementRed {
      position: absolute;
      top: 10px;
      left: 257px;
      z-index: 2; 
  }
  .probePlacementBlack {
      position: absolute;
      top: 170px; 
      left: 257px;
      z-index: 2;
  }