.burger {
	display: none;
	@media (max-width: 1024px) {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background: none;
		cursor: pointer;
		padding: 0;
		width: 30px;
		height: 30px;
	}
}

.burger span {
	display: block;
	height: 3px;
	width: 100%;
	background-color: var(--burger-color, #fff);
	border-radius: 2px;
	transition: all 0.3s ease;
}

/* Анимация при активном состоянии */
.burger--active span:nth-child(1) {
	transform: rotate(45deg) translate(6px, 6px);
}

.burger--active span:nth-child(2) {
	opacity: 0;
}

.burger--active span:nth-child(3) {
	transform: rotate(-45deg) translate(6px, -6px);
}
