.abouttop {
	&__container {
		background-image: url(/assets/images/line.png);
		background-position-y: -180px;
	}
}

.content {
	padding-top: 172px;
	padding-bottom: 90px;

	@media (max-width: 1024px) {
		padding-top: 148px;
	}

	&__title {
		margin-bottom: 52px;

		@media (max-width: 1024px) {
			margin-bottom: 48px;
		}
	}

	&__descr {
		width: 504px;
		display: flex;
		flex-direction: column;
		gap: 12px;
		margin-bottom: 52px;
		font-family: var(--second-family);
		font-weight: 400;
		font-size: 17px;
		line-height: 128%;
		color: var(--lan-light-grayish-cyan);

		@media (max-width: 1024px) {
			margin-bottom: 42px;
		}

		@media (max-width: 768px) {
			width: auto;
		}
	}
}

.card__list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 24px;
	grid-row-gap: 0px;

	@media (max-width: 768px) {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(2, 1fr);
	}
}

.item {
	&__title {
		font-family: var(--second-family);
		font-weight: 600;
		font-size: 14px;
		line-height: 136%;
		text-transform: uppercase;
		color: var(--lan-light-grayish-blue);
		margin-bottom: 12px;
	}

	&__description {
		width: 294px;
		font-family: var(--second-family);
		font-weight: 500;
		font-size: 15px;
		line-height: 128%;
		color: var(--lan-light-grayish-cyan);
	}

	&__left {
		height: 126px;
		grid-area: 1 / 1 / 2 / 2;
		background: url(/assets/images/card-left.png) no-repeat center / cover;
		border-radius: 12px;
		padding: 24px;

		@media (max-width: 1024px) {
			background: url(/assets/images/card-left1024.png) no-repeat center /
				cover;
			padding: 19px;
		}
	}

	&__right {
		height: 126px;
		grid-area: 1 / 2 / 2 / 3;
		background: url(/assets/images/card-right.png) no-repeat center / cover;
		border-radius: 12px;
		padding: 24px;

		@media (max-width: 1024px) {
			background: url(/assets/images/card-right1024.png) no-repeat center /
				cover;
			padding: 19px;
		}
	}
}
