@use '@/shared/scss/mixins.module';
@use '@/shared/scss/variables.module';

.list {
	position: absolute;
	top: 50px;
	left: 510px;
	display: block;
	overflow: scroll;
	background-color: variables.$white-color;
	border: 1px solid #8a8a8a;
	height: auto;
}

.elementList {
	display: flex;
	flex-direction: column;
	gap: 4px;

	&__item {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 10px 24px 10px 16px;

		&:hover {
			background-color: #110f93;
			cursor: pointer;

			& span,
			svg {
				color: variables.$white-color;
			}
		}
	}

	&__name {
		@include mixins.text(18px, 400);
		display: inline-block;
		width: 450px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
