.scheme {
	position: relative;
	width: 1258px;
	height: 656px;
	box-sizing: content-box;
	padding: 20px 160px 65px 20px;
	background-image: url('../../../public/svg/fullscheme.svg');
	background-origin: content-box;
	background-repeat: no-repeat;
	overflow: hidden;
}
