.survey {
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-bottom: 36px;
		padding-top: 36px;
		background: url('/images/survey-bg.png') no-repeat center / cover;

		@media (max-width: 576px) {
			justify-content: flex-start;
			align-items: flex-start;
			padding-top: 32px;
			padding-bottom: 32px;
		}
	}

	&__title {
		margin-bottom: 12px;

		@media (max-width: 576px) {
			max-width: 280px;
			margin-bottom: 8px;
		}
	}

	&__description {
		max-width: 434px;
		margin-right: 134px;
		font-family: var(--second-family);
		font-weight: 400;
		font-size: 17px;
		line-height: 128%;
		color: var(--lan-light-grayish-cyan);
		margin-bottom: 24px;

		@media (max-width: 576px) {
			max-width: 320px;
			margin-right: 0;
		}
	}

	&__button {
		width: 571px;
		font-family: var(--second-family);
		font-weight: 600;
		font-size: 14px;
		line-height: 136%;
		text-transform: uppercase;
		color: var(--lan-very-dark-mostly-black-blue);

		@media (max-width: 767px) {
			width: 359px;
		}
	}
}

.modal__overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--lan-very-dark-mostly-black-blue);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.button__closed {
	position: absolute;
	top: 24px;
	right: 24px;
}
