@use '@/shared/scss/variables.module';

.checkbox {
    position: relative;
}

.input {
    appearance: none;

    &:checked+.label::before {
        background: variables.$white-color;


    }

    &:checked+.label {
        svg {
            display: block;
        }
    }

    &:disabled+.label {
        svg {
            color: variables.$gray-disabled-color;
        }
    }

    &:disabled+.label::before {
        background: variables.$primary-color;
    }

}

.label {
    position: relative;

    &::before {
        content: "";
        width: var(--width);
        height: var(--height);
        position: absolute;
        background: variables.$secondary-color;
        border: 1px solid variables.$gray-disabled-color;
        cursor: pointer;
        border-top: 1px solid variables.$black-color;
        border-left: 1px solid variables.$black-color;
    }

    &:hover::before {
        box-shadow: variables.$checkbox-before-box-shadow;
        border: 1px solid variables.$white-color;
    }

    svg {
        cursor: pointer;
        position: absolute;
        left: 4px;
        top: 5px;
        display: none;
    }
}